<h3>List Customers</h3>

<div>
    <input type="search" placeholder="Search" [(ngModel)]="searchKey"/>
    <p [hidden]="!searchKey">
        Searching for {{searchKey}}
    </p>
</div>

<table>
    <thead>
        <tr>
            <th>Index</th>
            <th>Customer ID</th>
            <th>Name</th>
            <th>Location</th>
            <th>Actions</th>
        </tr>
    </thead>


    <tbody>
        <tr *ngFor="let item of data | custFilter : searchKey; index as i; even as even; odd as odd" 
                    [ngClass]="{oddCls: odd, evenCls: even}">
            <td>{{i}}</td>
            <td>{{item.id}}</td>
            <td>{{item.name | uppercase}}</td>
            <td>{{item.location}}</td>
            <td>
                <button (click)="edit(item)">Edit</button>
            </td>
        </tr>
        <tr>
            <td>
                <button (click)="save()">Save</button>
            </td>
            <td>
                <input type="number" placeholder="ID" [(ngModel)]="customer.id"/>
            </td>
            <td>
                <input placeholder="Name" [(ngModel)]="customer.name"/>
            </td>
            <td>
                <input placeholder="Location" [(ngModel)]="customer.location"/>
            </td>
        </tr>
    </tbody>
</table>
<!-- <div>
    {{ customer | json}}
</div> -->

<div *ngIf="selectedCustomer">
    <app-edit-customer 
        [current]="selectedCustomer"
        (saved)="editUpdate($event)"
        (cancelled)="editCancelled($event)"></app-edit-customer>
</div>


<!-- <input type="text" [value]="cust.name" (change)="save()"/> -->


