<h3>Data Binding</h3>

<div>
    <h4>Interpolation</h4>
    <div>
        Name: {{user.firstName + " " + user.lastName}}
    </div>
    <div>
        {{5 + 6}}
    </div>
</div>
<div>
    <h4>Property Binding</h4>
    Count: <input type="number" [value]="count"/>
    <br/>
    Count: {{count}}
</div>

<p>
    Show Event Binding: <input type="checkbox" [(ngModel)]="showPanel"/>
</p>
<div [hidden]="!showPanel">
    <h4>Event Binding</h4>
    <button (click)="inc('hello', $event)">Increment Count</button>
</div>

<p>
    Show 2-way Binding: <input type="checkbox" #cb [ngModel]/>{{cb.checked}}
</p>

<div [hidden]="!cb.checked">
    <h4>2-Way Binding</h4>

    Message: <input [(ngModel)]="message" #msg/>{{msg.value}}

    <br/>
    Message: {{message}}
    <br/>

    Count: <input type="number" [value]="count" (input)="count = $event.target.value"/>

</div>
